.venv/
.venv_monai/
__pycache__/
*.pyc
.ipynb_checkpoints/
README.previous.md

data/
!src/data/
!src/data/**

models/
!configs/models/
!configs/models/**

logs/
monai_apps/**/logs/
*.log

outputs/
notebooks/legacy/
kaggle_anatomy_lesion_detection

*.nii.gz
*.pth
*.pt
*.ckpt
*.pkl
